@model Booking_Dental_Clinic.Models.LichHen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/NhaSi/Views/Shared/_LayoutNhaSi.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LichHen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenkhachhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenkhachhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiDichVu.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDichVu.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaSi.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSi.Ten)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
