@model Booking_Dental_Clinic.Models.LichHen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhaSi/Views/Shared/_LayoutNhaSi.cshtml";
}

<div class="container">
    <h2>Details</h2>

    <div class="card">
        <div class="card-header">
            <h4>Lịch Hẹn</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Tenkhachhang)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Tenkhachhang)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Sdt)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Sdt)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Ngaydat)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Ngaydat)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.GioBatDau)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.GioBatDau)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.GioKetThuc)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.GioKetThuc)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AspNetUser.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AspNetUser.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LoaiDichVu.Ten)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LoaiDichVu.Ten)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NhaSi.Ten)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NhaSi.Ten)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IsApproved)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsApproved)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdLich }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
