@model IEnumerable<Booking_Dental_Clinic.Models.LichHen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhaSi/Views/Shared/_LayoutNhaSi.cshtml";
}

<h2>Trang Quản Lý Lịch Khám Của Nha Sĩ</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên Khách Hàng</th>
                <th>Số Điện Thoại</th>
                <th>Ngày Đặt</th>
                <th>Giờ Bắt Đầu</th>
                <th>Giờ Kết Thúc</th>
                <th>Email</th>
                <th>Tên Dịch Vụ</th>
                <th>Tên Nha Sĩ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Tenkhachhang)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sdt)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ngaydat)</td>
                    <td>@Html.DisplayFor(modelItem => item.GioBatDau)</td>
                    <td>@Html.DisplayFor(modelItem => item.GioKetThuc)</td>
                    <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.LoaiDichVu.Ten)</td>
                    <td>@Html.DisplayFor(modelItem => item.NhaSi.Ten)</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="~/NhaSi/ManagerBooking/Delete?id=@item.IdLich">Xóa</a>
                        <a class="btn btn-sm btn-primary" href="~/NhaSi/ManagerBooking/Details?id=@item.IdLich">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
