@model IEnumerable<Booking_Dental_Clinic.Models.DanhGiaBinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Điểm Đánh Giá</th>
                <th>Nội Dung</th>
                <th>Ngày Tạo</th>
                <th>Tên Nha Sĩ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DiemDanhGia)</td>
                    <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                    <td>@Html.DisplayFor(modelItem => item.NhaSi.Ten)</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id_DanhGia }, new { @class = "btn btn-danger btn-sm" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
