@model Booking_Dental_Clinic.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhaSi/Views/Shared/_LayoutNhaSi.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoiDichVu.TenDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoiDichVu.TenDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan.TenHinhThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan.TenHinhThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_HoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
