@model IEnumerable<Booking_Dental_Clinic.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <a class="btn btn-sm btn-success" href="~/Admin/Manager/Edit?id=@item.Id">Cập Nhật</a>
                <a class="btn btn-sm btn-danger" href="~/Admin/Manager/Delete?id=@item.Id">Xóa</a>
                <a class="btn btn-sm btn-danger" href="~/Admin/Manager/Details?id=@item.Id">Chi tiết</a>

            </td>
            <td>
                @if (item.IsApproved == false )
                {
                    <button class="btn-approve" data-id="@item.Id" >Approved</button>
                }
                else
                {
                    <button class="btn-approve" data-id="@item.Id" disabled>Approve</button>
                }
            </td>

        </tr>
    }

</table>    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-approve").on("click", function () {
            alert("An error occurred while approving the user.");
            var button = $(this);
            var id = button.data("id");
            $.ajax({
                url: "/Admin/Manager/Approve",
                type: "POST",
                data: { id: id },
                success: function () {
                    $("#status-" + id).text("Active");
                    button.attr("disabled", true);
                },
                error: function () {
                    alert("An error occurred while approving the user.");
                }
            });
        });
    });
</script>