@model IEnumerable<Booking_Dental_Clinic.Models.LichHen>

@{
    ViewBag.Title = "BookingView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center mt-5">Lịch Đã Đặt</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Số Điện Thoại</th>
                    <th>Ngày Đặt</th>
                    <th>Giờ Bắt Đầu</th>
                    <th>Giờ Kết Thúc</th>
                    <th>Email</th>
                    <th>Tên Dịch Vụ</th>
                    <th>Tên Nha Sĩ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tenkhachhang)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sdt)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ngaydat)</td>
                        <td>@Html.DisplayFor(modelItem => item.GioBatDau)</td>
                        <td>@Html.DisplayFor(modelItem => item.GioKetThuc)</td>
                        <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.LoaiDichVu.Ten)</td>
                        <td>@Html.DisplayFor(modelItem => item.NhaSi.Ten)</td>
                        <td>
                            <a href="@Url.Action("Appointment", "Home", new { ten = item.Tenkhachhang, sdt = item.Sdt,tennhasi = item.NhaSi.Ten,@IDBACSI = item.IDBACSI,@GioBatDau = item.GioBatDau, @GioKetThuc = item.GioKetThuc})" class="btn btn-primary">ĐẶT LẠI</a>
                        </td>
                        <td>
                            <a href="@Url.Action("CancelAppointment", "Home",new { IdLich = item.IdLich } )" class="btn btn-primary">Hủy lịch hẹn</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
