@model IEnumerable<Booking_Dental_Clinic.Models.HoaDon>

@{
    ViewBag.Title = "PriceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center mt-5">Xem Gói Đã Mua</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tổng Tiền</th>
                    <th>Email</th>
                    <th>Gói Dịch Vụ</th>
                    <th>Hình thức thanh toán</th>
                    <th>Tên nha sĩ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
                        <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.GoiDichVu.TenDichVu)</td>
                        <td>@Html.DisplayFor(modelItem => item.HinhThucThanhToan.TenHinhThuc)</td>
                        <td>@Html.DisplayFor(modelItem => item.NhaSi.Ten)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
