@model Booking_Dental_Clinic.Models.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Details</h2>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User Details</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>Email</dt>
                        <dd>@Html.DisplayFor(model => model.Email)</dd>

                        <dt>Phone Number</dt>
                        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

                        <dt>Username</dt>
                        <dd>@Html.DisplayFor(model => model.UserName)</dd>
                        <dt>Fullname</dt>
                        <dd>@Html.DisplayFor(model => model.FullName)</dd>
                    </dl>
                </div>
            </div>

            <div class="mt-3">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
